<a href="https://colab.research.google.com/github/pjquillan/CPE-009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python identation

In [ ]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

Python Comments

In [ ]:
if 5>2:
  print("Five is greater than two") #comparison of numbers 1 to 5

#Python Variable

In [ ]:
x=1 #This is a single variable with a value
a,b=0,1
a,b,c=0,-1,2

print(a)
print(b)
print(x)
b='sally'

print(b)

0
-1
1
sally

In [7]:
b="Sally" #this is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

type function

In [8]:
x=5
y="John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#double quotes or single quotes

In [9]:
y="John"
x='John'
print(y)
print(x)

John
John

#case sensitive

In [ ]:
a=4
A="Sally"
#A will not overwrite a

#Multiple variable

In [10]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

One value to multiple variable

In [ ]:
x=y=z="i"

#Output variables

In [11]:
x="enjoying"
print("Python programming is "+x)

Python programming is enjoying

In [12]:
x="Python is "
y="enjoying"
z=x+y
print(z)

Python is enjoying

In [13]:
x=5
y=3
print(x+y)

sum=x+y
sum

8

8

assignment operators

In [14]:
a,b,c=0,-1,6
c%=3
c

0

In [17]:
a,b,c=0,-1,5
c is c

True