<a href="https://colab.research.google.com/github/pjquillan/CPE-009A-OOP/blob/main/Demo_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
print(bool("Hello"))
print(bool(15))
#print(bool())=false

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

True
True

False

Bool() Function

In [5]:
print(bool(True))
print(bool(False))

True
False

functions can return a boolean

In [10]:
def myFunction():
  return True
print(myFunction())

True

In [11]:
def myFunction():
  return True

if myFunction():
  print("Yes!")
else:
  print("No!")

Yes!

In [13]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

In [ ]:
Python operators

In [17]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%3)
print(10//3)
print(10**2)

#print(10+5)=15
#print(10-5)
#print(10*5)
#print(10/5)
#print(10%3)
#print(10//3)
#print(10**2)

15
5
50
2.0
1
3
100

#Python Bitwise Operators

In [25]:
a=60
b=13
print(a&b)#AND
print(a|b)#OR
print(a^b)#XOR
a<<2

12
61
49

240

#Python Assignment Operators

In [29]:
x=1
#x+=3 Same as x=x+3
#x-=3 Same as x=x-3
#x*3 Same as x=x*3
#x/=3 Same as x=x/3
#x%=3 Same as x=x%3
x+=3
print(x)

4

#Comparison Operators

In [36]:

y=60
z=13

print(y>z) #True
print(z>y) #False
print(y>z and z>y) #False
print(y>z and z<y) #True
print(y>z or z>y) #True
print(not(y>z and z<y)) #False

True
False
False
True
True
False

#Loop statement

In [50]:
Week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in Week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [51]:
#Example 2
Week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in Week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [55]:
#Example 3
#The Break Statement
Week=["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in Week:
  if x=="Thursday":
    print(x)

Thursday

range() function

In [59]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [57]:
for x in range(2,6):
  print(x)

2
3
4
5